.modal-content-container {
  @keyframes bottomUp {
    0% {
      transform: translateY(1000%);
      opacity: 0;
    }
    50% {
      transform: translateY(500%);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes bottomDown {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    50% {
      transform: translateY(500%);
      opacity: 0;
    }
    100% {
      transform: translateY(1000%);
      opacity: 0;
    }
  }

  &.bottom-up {
    animation: bottomUp 0.3s ease-in-out;
  }

  &.bottom-down {
    animation: bottomDown 0.3s ease-in-out;
  }
}
