@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('//cdn.jsdelivr.net/xeicon/2/xeicon.min.css');

html,
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

* {
  outline-style: none;
}

@font-face {
  font-family: 'xeicon';
  src: url('./assets/fonts/xeicon.eot?3ka2yj');
  src: url('./assets/fonts/xeicon.eot?3ka2yj#iefix') format('embedded-opentype'),
    url('./assets/fonts/xeicon.woff2?3ka2yj') format('woff2'),
    url('./assets/fonts/xeicon.ttf?3ka2yj') format('truetype'),
    url('./assets/fonts/xeicon.woff?3ka2yj') format('woff'),
    url('./assets/fonts/xeicon.svg?3ka2yj#xeicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@keyframes bottomUp {
  0% {
    transform: translateY(1000%);
    opacity: 0;
  }
  50% {
    transform: translateY(500%);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes bottomDown {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(500%);
    opacity: 0;
  }
  100% {
    transform: translateY(1000%);
    opacity: 0;
  }
}

.bottom-up {
  animation: bottomUp 0.3s ease-in-out;
}

.bottom-down {
  animation: bottomDown 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease;
}
.fade-out {
  animation: fadeOut 0.5s ease;
}

@keyframes fadeInEighty {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes fadeOutEighty {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-half {
  animation: fadeInEighty 0.5s ease;
}
.fade-out-half {
  animation: fadeOutEighty 0.5s ease;
}
