.loading-container {
  @apply justify-center items-center w-full h-full top-auto left-0 absolute bg-mono-gray bg-opacity-60 z-30;

  box-shadow: 1rem 1rem 1rem 1rem #ccc;

  .icon-spinner-container {
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    @keyframes bottomUp {
      0% {
        transform: translateY(1000%);
      }
      100% {
        transform: translateY(0px);
      }
    }

    animation: bottomUp 0.2s ease-in-out, spin 2s linear infinite;

    @apply bg-transparent select-none flex justify-center items-center w-12 h-12;

    .spinner {
      font-size: 3rem;

      @apply text-sub-lightBlue;
    }
  }
}
