.exterior {
  @apply bg-mono-darkGray opacity-70 fixed w-full h-full top-0 left-0 border-none;
  z-index: 100;
}

.container {
  @apply border-none fixed bg-mono-white rounded-lg shadow-glow;
  left: calc(50% - 8.75rem);
  top: 20%;
  z-index: 101;
  width: 17.5rem !important;

  .btn {
    @apply text-subMedium font-subMedium m-1 whitespace-pre break-words absolute bottom-5 text-mono-white bg-main-blue rounded;
  }

  .disabled {
    @apply bg-mono-lightGray text-mono-darkGray;
  }

  & * {
    @apply cursor-pointer;
  }

  & .react-date-picker__calendar {
    z-index: 102;
    width: 17.5rem;
    bottom: unset !important;
  }

  & .react-date-picker__calendar--closed {
    @apply block;
  }

  & .react-date-picker__button {
    display: none;
  }

  & .react-date-picker__inputGroup {
    display: none;
  }

  & .react-date-picker__inputGroup__input .react-date-picker__inputGroup__year {
    width: 1.875rem;
  }

  &
    .react-date-picker__inputGroup__input
    .react-date-picker__inputGroup__month {
    width: 0.938rem;
  }

  & .react-date-picker__inputGroup__input .react-date-picker__inputGroup__date {
    width: 0.938rem;
  }

  & .react-calendar__navigation {
    margin-bottom: 0.313rem;
  }

  & .react-calendar__navigation__label {
    @apply rounded-xl;
    margin-top: 0.313rem;
  }

  & .react-calendar__navigation__label__labelText {
    @apply text-textMedium font-textMedium;
  }

  & .react-calendar__month-view__days__day--neighboringMonth {
    @apply opacity-20;
  }

  & .react-date-picker {
    @apply w-full text-center bg-mono-white rounded-3xl;
  }

  & .react-date-picker__wrapper {
    @apply border-none text-mono-gray;
    padding: 0.313rem;
  }

  & .react-date-picker__inputGroup input {
    @apply text-mono-gray text-textMedium font-textMedium;
  }

  & .react-date-picker__inputGroup input:focus {
    @apply rounded-3xl bg-mono-white;
  }

  & .react-date-picker__inputGroup input:active {
    @apply text-mono-white bg-mono-white;
  }

  & .react-date-picker__inputGroup__leadingZero {
    @apply text-mono-gray text-textMedium font-textMedium;
  }

  & .react-date-picker__inputGroup__leadingZero:focus {
    @apply rounded-3xl bg-mono-white;
  }

  & .react-date-picker__inputGroup__leadingZero:focus {
    @apply text-mono-white bg-mono-white;
  }

  & .react-calendar {
    @apply border-none bg-transparent;
    z-index: 101;
    padding: 0.313rem;
  }

  & .react-calendar__decade-view__years {
    @apply flex justify-center items-start;
  }

  & .react-calendar__tile {
    @apply bg-mono-white w-10 flex justify-center items-center text-subMedium font-subMedium;
    z-index: 104;
    height: 2.313rem;
    border-radius: 0.625rem !important;
  }

  & .react-calendar__tile:hover {
    @apply rounded-full;
  }

  & .react-calendar__month-view__days__day {
    @apply text-mono-black;
  }

  & .react-calendar__tile--active {
    @apply rounded-full text-mono-white bg-main-blue font-titleBig;
  }

  & .react-calendar__tile--range {
    @apply text-mono-white bg-main-blue font-titleBig;
    border-radius: 0px !important;
  }

  & .react-calendar__tile--hasActive {
    @apply rounded-full text-mono-white bg-main-blue font-titleBig;
  }

  & .react-calendar__tile--now {
    @apply text-sub-paleYellow;
  }

  & .react-calendar__tile--now.react-calendar__year-view__months__month {
    @apply text-sub-sky;
  }

  & .react-calendar__tile--now.react-calendar__decade-view__years__year {
    @apply text-sub-sky;
  }

  & .react-calendar__tile--rangeStart {
    border-radius: 50% 0 0 50% !important;
  }

  & .react-calendar__tile--rangeEnd {
    border-radius: 0 50% 50% 0 !important;
  }

  & .react-calendar__tile--rangeBothEnds {
    border-radius: 9999px !important;
  }

  &
    .react-calendar__tile--rangeBothEnds.react-calendar__year-view__months__month {
    border-radius: 0.625rem !important;
  }

  & .react-calendar__tile:disabled {
    @apply bg-mono-white text-mono-white;
  }

  & .react-calendar__navigation__arrow {
    @apply text-titleMedium font-titleMedium text-main-blue opacity-50;
  }

  & .react-calendar__navigation__arrow:disabled {
    @apply bg-transparent text-transparent;
  }

  & .react-calendar__month-view__days__day--weekend {
    @apply text-main-red;
  }

  & .react-calendar__month-view__weekdays__weekday {
    @apply text-subMedium font-subMedium no-underline text-mono-gray w-10 h-10 flex justify-center items-center;
  }
}
